
*{
color:#E7DFD2;
font-size:18px;
}

body{
margin:0px;
padding:0px;
/*background-color:#E7DFD2;*/
background-color:#3B444B;
}
.wrapper{
position:relative;
max-width:100%;
overflow:hidden;
}
.navigation{
position:relative;
max-width:100%;
margin-bottom:50px;
padding-top:20px;
padding-bottom:20px;
background-color:black;
}
.adaptiveImg{
position:relative;
width:200px;
height:200px;
margin:0px auto;
border-radius:50%;
background-image:url("../img/image0090.jpg");
overflow:hidden;
display:none;
}
.navLinkX{
position:relative;
margin-right:5px;
display:flex;
}
#navAlignCenter{
align-items:center;
}
#content1AlignCenter{
justify-content:space-between;
align-items:center;
}
.blockXBetween{
position:relative;
display:flex;
justify-content:space-between;
}
.navTitle{
position:relative;
margin-left:5px;
letter-spacing:1px;
font-size:20px;
font-weight:bold;
color:white;
text-shadow:2px 2px green;
}
.blockX{
position:relative;
display:flex;
}
.navLink{
position:relative;
margin-left:10px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
text-decoration:none;
border-radius:15px;
border:1px solid #E7DFD2;
transition:0.5s;
}
.navLink:hover{
border:1px solid white;
}
.container{
position:relative;
max-width:1000px;
margin:0px auto;
}
.blockY{
position:relative;
display:flex;
flex-direction:column;
}
.contentBlock1{
position:relative;
}
.content1Title{
position:relative;
margin-bottom:10px;
font-size:24px;
font-weight:bold;
}
.content1Text{
position:relative;
max-width:500px;
margin-bottom:10px;
}
.content1Btn{
position:relative;
margin-bottom:10px;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
padding-top:5px;
border:none;
border-radius:5px;
color:white;
background-color:green;
}
.imgBlock{
position:relative;
max-width:300px;
padding:30px;
background-color:black;
}
img{
position:relative;
max-width:100%;
}
.blockYSkill{
position:relative;
margin-bottom:10px;
padding:5px;
display:flex;
flex-direction:column;
}
.textSkills{
position:relative;
font-weight:bold;
}
.mySkillsSub{
position:relative;
margin-bottom:5px;
font-size:20px;
font-weight:bold;
border-bottom:1px solid #E7DFD2;
}
